/* ---- reset ---- */
/* body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color:#e0e1df;
  font: normal 75% Arial, Helvetica, sans-serif;

} */

 body {
	margin: 0;
  padding: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
  background-color:#e0e1df;
  height: 100%;
  margin-bottom: -10vh;
} 
header{
    height: 100vh;
    position: relative;
}

header h1{
  z-index: 9;
  padding: 8rem;
  
}

p{
  z-index: 9;
}

  h1{
  z-index: 9;
}
.wrapper, .address-wrapper{
  z-index: 9;
}
.swiper {
  width: 100%;
  height: 100%;
  
}

address{
  font-size: 1.2rem;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
 
  z-index:999;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* .swiper-slide .card img{
  width: 9rem;
  
} */
.services {
  z-index: 9;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-wrapper-img img{
  width: 30%;
}
/* .card img{
  filter: grayscale(1);
  transition: .2s all ease-in;
}
.card img:hover{
  filter: grayscale(0);
} */

.swiper .card{
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2rem ;
  background: rgba(255,255,255, 0.2);
    z-index: 99;
    border-radius: 1em;
    position: relative;
  
    backdrop-filter: blur(60px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
}
.swiper  .card h3
{
  font-size: 2rem
}

.swiper  .card p
{
  font-size: 1.2rem;
  line-height:2rem;
}
.slogan{
  font-family: 'Noto Sans', sans-serif;
  position: absolute;
  top: 50%;
  left:4%;
  transform: translate(-0%, -50%);
  width: 50%;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 1px;
}
:root {
  --color-1: #158aff;
  --color-2: #fffff;
  --color-3: #6100d0;
  --color-4: #fffff;
  --blur: blur(100vw);
}

gradient-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--color-2);
  transform: translate(-50%, -50%);
  opacity: .5;;
  flex-wrap: wrap;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 440px; height: 440px; border-radius: 15rem; background: radial-gradient(77.73% 77.73% at 98.52% 96.25%, #F98BDA 0%, rgba(128, 76, 239, 0.29) 50.52%, rgba(91, 216, 216, 0) 100%), radial-gradient(141.73% 105.23% at 50% -7.16%, #E1F8FF 0%, rgba(160, 198, 255, 0) 50.73%, rgba(162, 147, 255, 0) 100%), radial-gradient(112.27% 48.54% at 1.59% 50%, rgba(255, 130, 227, 0.5) 0%, rgba(255, 123, 234, 0.095) 53.91%, rgba(254, 216, 255, 0) 100%), linear-gradient(153.07deg, #8177F3 6.37%, rgba(255, 230, 166, 0) 83.82%); background-blend-mode: normal, normal, normal, normal, normal, normal; filter: blur(50px);
}

gradient-color {
  width: 50%;
  height: 50%;
  display: flex;
  border-radius: 30% 80% 75% 40% / 40% 40% 70% 50%;
  animation-name: animate;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animate {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 60%;
    transform: scale(2) rotate(0deg) translate(10%, -10%);
  }
  100% {
    border-radius: 88% 10% 22% 58% / 73% 56% 34% 77%;
    transform: scale(2.5) rotate(150deg) translate(40%, -10%);
  }
}

gradient-color:nth-child(1) {
  background-color: var(--color-1);
  animation-direction: backwards;
}

gradient-color:nth-child(2) {
  background-color: var(--color-2);
}

gradient-color:nth-child(3) {
  background-color: var(--color-3);
  animation-direction: backwards;
}

gradient-color:nth-child(4) {
  background-color: var(--color-4);
}

gradient-backdrop {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  backdrop-filter: var(--blur);
}

.gradient2{
  top: 70%;
  left: 30%;
  opacity: 0.5;
}




canvas {
	display: block;
	vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
  background-color:#e0e1df;;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background-color:#e0e1df;;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #fff;
	font-size: 0.8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;

	font-weight: bold;
}
.js-count-particles {
	font-size: 1.1em;
}
.toggleBtn{
  display: inline-block;
width: 55px;
height: 55px;
padding:22px 25px;

position: fixed;
background: #1b1b1b;

margin-top:5%;
margin-left:2%;
z-index: 99999;
border-radius:50%;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
opacity: 1;
transition: all .8s ease;
    }
    .menu-icon, .close-icon{
      filter: brightness(0) invert(1);
    }
.toggleBtn img{
  position: absolute;
}
.toggleBtn img.close-icon{
opacity: 0;
}
.menu-icon, .close-icon{
  filter: brightness(0) invert(1);
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.about-wraps ,.services-wrap, .vission{
  padding: 8rem;
  
}
.about-wraps{
  z-index: 9;
}
.menu{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
   background-color:#1F4CC8;
  z-index: 999;
  transform: scale(0);
  transform-origin: top left;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column; 

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
 
}
nav{
  padding: 100px;
  transition: all ease .8s;
}
nav ul{
  padding-left: 0;
}
nav ul li{
  list-style: none;
  margin-bottom:30px;
  color:#e0e1df;;
}
nav ul li a{
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color:#e0e1df;;
}

/* .fixed-blob{
  z-index: 9999999;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 440px; 
  height: 440px;
   border-radius: 15rem; 
   background: radial-gradient(77.73% 77.73% at 98.52% 96.25%, #F98BDA 0%, rgba(128, 76, 239, 0.29) 50.52%, rgba(91, 216, 216, 0) 100%), radial-gradient(141.73% 105.23% at 50% -7.16%, #E1F8FF 0%, rgba(160, 198, 255, 0) 50.73%, rgba(162, 147, 255, 0) 100%), radial-gradient(112.27% 48.54% at 1.59% 50%, rgba(255, 130, 227, 0.5) 0%, rgba(255, 123, 234, 0.095) 53.91%, rgba(254, 216, 255, 0) 100%), linear-gradient(153.07deg, #8177F3 6.37%, rgba(255, 230, 166, 0) 83.82%); 
   background-blend-mode: normal, normal, normal, normal, normal, normal; filter: blur(50px);
   transform: translate(-50%, -50%);
} */

#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}
#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}
.count-particles {
	border-radius: 0 0 3px 3px;
}

#button {
	position: absolute;
	color: #dce1de;
	z-index: 999;
	top: 60%;
	left: 4%;
  width: 65%;
	font-size: 70px;
  text-align: left;
font-weight: 100;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	transition: font-size 0.3s ease-out, color 4s linear;
  font-family: 'Noto Sans', sans-serif;
}

#particles-js {
  background-color:#e0e1df;;
	transition: color 0.3s linear;
  position: relative;
  z-index: 99;
}

#particles-js.toggle-color {
  background-color:#e0e1df;;
	transition: background 4s linear;
}
#button.toggle-color {
	color: #333;
}
.about-wrapper{
    height:100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color:#cdc9c45c;
    color:#333;
	width:100%;
	position: relative;

}
.article-wrapper{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    padding: 2rem;
    font-size: 52px;
}

.article-wrapper h1{
    font-size: 1.8rem;
    font-family: 'Noto Sans', sans-serif;
}

.text-wrapper{

    width:50%; position: absolute;
    left:50%;
    padding:60px;
}
.about .links{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: left;
}
.header-content{

    width:85%; position: absolute;
 left:0;
    top:20%;
    padding:60px;
}
.project-list{

    position: relative;
 
}
.project-title h1 {
    font-weight: 100;
    margin-left: 2rem;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
  }
  .border {
    width: 250px;
    height: 250px;

    position: absolute;
    bottom:0%;
    left:40%;
    transform: translate(-50%, -0%);
    overflow: hidden;
    border-radius: 100%;
    transform: rotate(345deg);
    transition: all .5s;
    opacity:0;
}

.container {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 100%;
    background-color:#cdc9c45c;
    transition: .1s
}


@keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, 180deg);
      transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 270deg);
      transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }
  
.left {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border: 0;
    z-index: 1;
    background: 0;
    outline: 0
}

.right {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border: 0;
    z-index: 2;
    background: 0;
    outline: 0
}



  

  .wrapper {
    width: 90%;

    position: relative;
    z-index: 9;

  }
  
  .project{
    border: 1px solid rgba(10,16,31,.5);

    height:150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 1;
    position: relative;
    z-index: 1;
    color: #333;
    mix-blend-mode: difference;
    cursor: pointer;
    transition: all 2s ease;
    position: relative;
    -webkit-text-stroke-width: 1px; /* 1px Stroke */
  -webkit-text-stroke-color: #333; /* White Color */
  transition: 1s;
  color:transparent;
  }
 .project :not(:first-child) {
    border-top: none;
  }
  .project:hover{
    -webkit-text-stroke-width: 1px; /* 1px Stroke */
    -webkit-text-stroke-color: #0077b6; /* White Color */
    transition: 1s;
    color:#0077b6;


  }
  
  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
z-index: 9;
  }
  .js-ticker {
    white-space: nowrap;
    display: flex;
    align-items:center;
    padding: 0;
    margin: 0 auto;
    width: 100vw;
 height: 10vh;

    overflow: visible;
  }
  
  .js-ticker li{
    list-style: none;
    margin: 0 3em 0 0;
    padding: 0;
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    line-height: 50px;
    vertical-align: center;
color: #333;
    font-weight: 300;
    font-size: 7rem;
    line-height:10vh;
    font-family: 'Noto Sans', sans-serif;
  }
  
 .ticker-items{
    display: inline-block;
  }
  .line{
      height: 1px;
      background-color:rgba(10,16,31,.2); 
      width: 100%;
  }
  .section{
    position:relative;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
   
  }
  .section h1{
    position:absolute;
    top:50%;
    font-size:10vw;
    width:100%;

    color: green;
    margin: 0 0 0 20px;
 
  }
  
  .pathSVG{
    position:absolute;
    width:100%;
    top:0;
    left:-10%;
  }
  .textPath{
    fill:none;
    stroke:none;
  }
  .go{

    font-weight: 200;
    font-size: 1vw;
    padding: 2rem;
    background-color: red ;
  }
  
  .head-wrapper{
      width: 100%;
      padding: 2rem;
     
  }
  .head-wrapper div{
      width: 100%;
      display: flex;
      justify-content: space-between;

  }
  .head-wrapper h2{
    font-size: 120px;
      font-family: 'Noto Sans', sans-serif;
  }
  /* .head-wrapper .fa-circle{
color: #003459;
  font-size:8rem;

} */
.vision-p{
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
    width: 50%;
    line-height: 2.88rem;
}
.js-ticke {
    white-space: nowrap;
    display: flex;
    align-items:center;
    padding: 0;
    margin: 0 auto;
    width: 100vw;
 height: 10vh;

    overflow: visible;
  }
  
  .js-ticke li{
    list-style: none;
    margin: 0 3em 0 0;
    padding: 0;
    display: inline-block;

    line-height: 50px;
    vertical-align: center;
color: #333;
    font-weight: 300;
    font-size: 6rem;
    line-height:10vh;
  }
  
 .ticker-items{
    display: inline-block;
  }
 
  .social-wrapper{
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      gap:2rem;
  }
  .company-profile{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
  }
  .company-profile .img-wrapper{
    width: 70%;
  }
  .company-profile img{
    width: 100%;
  }
  .link{
 font-size: .8rem;
  }
  .p-wrapper{
    width: 80%;
    padding-left: 3rem;
    position: relative;
    top:-8vh;
  }
  .p-wrapper p{
    font-size: 40px;
    line-height: 3.55rem;
    font-family: 'Noto Sans', sans-serif;
   
  }
  .intro{
    width: 85%;
  }
  main{
    background-color:#e0e1df;;
  }
  
  main:after {
    animation: grain 20s steps(10) infinite;
    background-image: url(https://media.istockphoto.com/vectors/noise-pattern-seamless-grunge-texture-white-paper-vector-vector-id957053842?k=6&m=957053842&s=612x612&w=0&h=gMlueRpHozbKs1L2d1szbcQuoqXZMVKKUbeSjS4ZtPg=);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.1;
    position: fixed;
    top: -110%;
    width: 300%;
    z-index: -1;
  }
  
  @keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }

  
  .partners{
    height: 100vh;
    display: flex;
    align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 20% 4%;
  position: relative;
  z-index: 2;
  background-color: transparent;
  z-index: -1;
  
  }
  .revealUp{
    opacity:0;
    visibility: hidden;
}
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
  font-size: 116px;

  margin-bottom: 4rem;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
.small{
  font-size: 13px;
  text-transform: uppercase;
}
.brand{
  position: absolute;
  width: 20%;
  top:4%;
  z-index: 99999;
  right: 4%;
}
.brand img{
  width: 100%;
  position: absolute;
  z-index: 9;
/*filter:brightness(30%) saturate(10%); */
  object-fit: contain;
}
.link-button{
  color:white;
  font-weight: 400;
  border-radius: 5px;
  border:1px solid #e0e1df;
  width: 20%;
  height:25px;
  text-decoration: none;
  transition: all 1s ease;
  background-color: transparent;
  position: relative;
  z-index: 2;
 margin-top: 2rem;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 2rem 5rem;
  background: #1b1b1b;
  font-size: 1rem;
  letter-spacing: 1px;
}
.link-button:hover{
  background:blueviolet ;
  color: #fdfdfd;
  text-decoration: none;
}
.ventures{
  height: 100vh;
}
.ventures a{
  margin-left: 4rem;
}
.p-wrapper p{
font-size: 2rem;
}
section{
  padding:4rem 0;
  margin-bottom:4rem;
}

section{

  background-color:#e0e1df;;
}

#preloader{
  width:100%;
  height:100vh;
  background:#333;
  overflow:hidden;
  position:fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  position: fixed;
  z-index: 999999;
}

.p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}


@media only screen and (max-width: 1920px)
{
 
  .slogan{
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    top: 65%;
    left:4%;
    transform: translate(-0%, -50%);
    width: 90%;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5rem;
  }
  .about-wraps{
 
  top: 50rem;
}
  .about-section .about-wraps h2{
    width: 100%;
   font-weight: 500;
  
    
  }

  .link-button{
    color:white;
    font-weight: 400;
    border-radius: 5px;
    border:1px solid #e0e1df;
    width: 40%;
    height:25px;
    text-decoration: none;
    transition: all 1s ease;
    background-color: transparent;
    position: relative;
    z-index: 2;
    margin-top: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2rem 5rem;
    background: #1b1b1b;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .services-wrap {
    padding: 0rem;
  }
   .swiper{
    z-index: 9;
  }

  .vision-box .vission{
    padding: 5rem;
    width: 100%;
  }
  .vision-box  .vission  h2{
    font-weight: 400;
   
    width: 100%;
  }
  .vision-box  .vission  p{
    /* padding-left: 1rem; */
  }

  .partners-box .swiper-wrapper {
    height: 50vh;
  }
  
  .footer{
    padding: 2rem;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 80vh;
    background: #1b1b1b;
    color: white;
  }
  .footer-wrapper {
    padding: 2rem;
    
  }
  .wrapper{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }
  footer .footer-wrapper .wrapper h3{
    font-size: 3rem;
    font-weight: 400;
    width: 140%;
  }
  
  .footer-wrapper .wrapper p{
    font-size: 1.2rem;
    font-weight:400 ;
   
    color: gray;
  }
  footer .footer-wrapper .wrapper h4{
    font-size: 2rem;
    font-weight:400 ;
    
    
  }
  
  .address-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    width: 100%;
  
    justify-items: end;
  }
  .address-wrapper h6{
    font-weight: 600;
  }
  
  .address-wrapper a{
   text-decoration: none;
   color: #FAFAFAFA;
  
  }
  .address-wrapper .pagesLink 
  {
    
    font-size: 1.2rem;
    
    gap: 1rem;
  }
  .address-wrapper .pagesLink a
  {
    line-height: 2rem;
    font-size: 1.2rem;
    color: #fafafa;
  }
  .address-wrapper .navigations  a{
    text-decoration: none;
    color: white;
    display: block;
    line-height: 2rem;
    font-size: 1.2rem;
   
  }
  
  address{
    color: grey;
  }
  

}
@media screen and (max-width: 1280px){
  #preloader{
    width:100%;
    height:85vh;
    background:#333;
    overflow:hidden;
    position:fixed;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    position: fixed;
    z-index: 999999;
  }
}

@media screen and (max-width: 1024px){
  #preloader{
    width:100%;
    height:85vh;
    background:#333;
    overflow:hidden;
    position:fixed;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    position: fixed;
    z-index: 999999;
  }
  .slogan{
    font-size: 5rem;
    width:80%;
    padding: 1rem;
    font-weight: 400;
  }

  /* About section start */
  .about-section .about-wraps{
    padding: 4rem;
    width: 100%;
  }

  .about-section .about-wraps h2{
    width: 100%;
   font-weight: 400;
   font-size: 5rem;
    
  }

  .about-section .about-wraps p{
   
   font-weight: 400;
   font-size: 1.2rem;
    
  }

  .link-button{
    color:white;
    font-weight: 400;
    border-radius: 5px;
    border:1px solid #e0e1df;
    width: 50%;
    height:25px;
    text-decoration: none;
    transition: all 1s ease;
    background-color: transparent;
    position: relative;
    z-index: 2;
   margin-top: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2rem 5rem;
    background: #1b1b1b;
    font-size: 1rem;
    letter-spacing: 1px;
  }
/* About section end */
/* Services section Start */

.services .services-wrap .swiper{
  z-index: 19;
}
.services .services-wrap, 
.vision-box .vission{
  padding: 1rem;
}
.services .services-wrap h2{

  font-size:5rem;
  width: 100%;
  margin-left: 2%;
  font-weight: 400;
  
}

.swiper {
  width: 50rem;
  height: 50rem;
  
}

.swiper-wrapper .card .card-wrapper-img h3{
  font-size: 18px;
  font-weight: 600;
}
.swiper-wrapper .card  p{
  font-size: 16px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
 
  z-index:999;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-wrapper .card
{
  
  height: 80vh;
  z-index: 10;
}

.vision-box .vission{
  padding: 1rem;
  width: 100%;
}
.vision-box  .vission  h2{
  font-weight: 400;
 
  width: 100%;
}
.vision-box  .vission  p{
  padding-left: 1rem;
}
/* Services section End */
/*Trusted Partners section starts*/
.partners-box
{
  padding: 1rem;
}

.partners-box .trusted-wrapper h2
{
  width: 100%;
  font-size: 5rem;
  margin-left:   1rem;
  font-weight: 400;
}

.partners-box .card img{
  width: 100%;
}
.partners-box .card{
  height:50vh;
}
/*Trusted Partners section end*/

/*Leadership*/
.team-wrapper .inner .imgSlide{
  width: 100%;
  top: 20%;
}
/*Leadership ends*/
  
footer .footer-wrapper .wrapper h3{
  font-size: 2rem;
  font-weight:500 ;
  width: 1900%;
 
}



}
@media only screen and (max-width: 900px) {
  .swiper-wrapper .card .card-wrapper-img h3{
    font-size: 18px;
    font-weight: 600;
  }
  .swiper-wrapper .card  p{
    font-size: 16px;
  }
  #preloader{
    width:100%;
    height:92vh;
    background:#333;
    overflow:hidden;
    position:fixed;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    position: fixed;
    z-index: 999999;
  }
  gradient-container {
    width: 10vw;
    height: 10vh;
    display: flex;
    background: var(--color-2);
    transform: translate(-50%, -50%);
    opacity: .7;;
    flex-wrap: wrap;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 240px; height: 240px; border-radius: 15rem; background: radial-gradient(77.73% 77.73% at 98.52% 96.25%, #F98BDA 0%, rgba(128, 76, 239, 0.29) 50.52%, rgba(91, 216, 216, 0) 100%), radial-gradient(141.73% 105.23% at 50% -7.16%, #E1F8FF 0%, rgba(160, 198, 255, 0) 50.73%, rgba(162, 147, 255, 0) 100%), radial-gradient(112.27% 48.54% at 1.59% 50%, rgba(255, 130, 227, 0.5) 0%, rgba(255, 123, 234, 0.095) 53.91%, rgba(254, 216, 255, 0) 100%), linear-gradient(153.07deg, #8177F3 6.37%, rgba(255, 230, 166, 0) 83.82%); background-blend-mode: normal, normal, normal, normal, normal, normal; filter: blur(50px);
  }
  .slogan{
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
    font-weight: 400;
  }

/* About section start */
  .about-section .about-wraps{
    padding: 1rem;
    width: 100%;
  }

  .about-section .about-wraps h2{
    width: 100%;
   font-weight: 400;
   font-size: 2rem;
    
  }

  .link-button{
    color:white;
    font-weight: 400;
    border-radius: 5px;
    border:1px solid #e0e1df;
    width: 100%;
    height:25px;
    text-decoration: none;
    transition: all 1s ease;
    background-color: transparent;
    position: relative;
    z-index: 2;
   margin-top: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2rem 5rem;
    background: #1b1b1b;
    font-size: 1rem;
    letter-spacing: 1px;
  }
/* About section end */

/* Services section Start */

.services .services-wrap .swiper{
  z-index: 19;
}
.services .services-wrap, 
.vision-box .vission{
  padding: 1rem;
}
.services .services-wrap h2{

  font-size:2rem;
  width: 100%;
  margin-left: 2%;
  font-weight: 400;
}

.swiper {
  width: 50rem;
  height: 50rem;
  
}
.card-wrapper-img h3{
  font-size: 12px;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
 
  z-index:999;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-wrapper .card
{
  
  height: 50vh;
  z-index: 10;
}
.vision-box .vission{
  padding: 1rem;
  width: 100%;
}
.vision-box  .vission  h2{
  font-weight: 400;
 
  width: 100%;
}
.vision-box  .vission  p{
  padding-left: 1rem;
}
/* Services section End */

/*Trusted Partners section starts*/
.partners-box
{
  padding: 1rem;
}

.partners-box .trusted-wrapper h2
{
  width: 100%;
  font-size: 2rem;
  margin-left:   1rem;
  font-weight: 400;
}

.partners-box .card img{
  width: 100%;
}
.partners-box .card{
  height:50%;
}
/*Trusted Partners section end*/

/*Leadership*/
.team-wrapper .inner .imgSlide{
  width: 100%;
  top: 20%;
}
/*Leadership ends*/

/* FOOTER SECTION STARTS */
footer .footer{
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 100%;
  height: 80vh;
  background: #1b1b1b;
  color: white;
  padding: 1rem;
}
footer .footer-wrapper {
  padding-right: -13rem;
  
}
.wrapper{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
footer .footer-wrapper .wrapper h3{
  font-size: 1rem;
  font-weight:500 ;
  width: 1900%;
 
}
footer .footer-wrapper .wrapper h4{
  font-size:1.2rem ;
}


footer .footer-wrapper .wrapper p{
  font-size: 15px;
  font-weight:400 ;
  width: 900%;
  color: gray;
  margin-right:  3rem;
}
.footer-wrapper .wrapper h4{
  font-size: 2rem;
  font-weight:400 ;
  
  
}
footer .wrapper{
  padding: 1rem;
}
footer .address-wrapper{
  display: grid;
  grid-template-columns:50% 50% 50% ;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 1rem;

 
}
  footer .address-wrapper{
    padding: 3rem;
   display: none;
   
  }


/* FOOTER SECTION ends */
 
}

@media only screen and (max-width: 600px) {
  .big-text{
    font-size: 4.5rem;
  }
  footer{
    grid-template-columns: 100%;
  }
  .hear-wrapper{
position: absolute;
top: 50%;
left: 4%;
  }
  .brand{
    position: absolute;
    width: 60%;
    top:4%;
    z-index: 99999;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
}

.services, .partners-box{
  padding-left: 4rem;
}
.services h2, .partners-box h2{
  font-size: 5rem;
  font-weight: 300;
  margin: 4rem;
  
}


.vision-box h2{
  font-size: 5rem;
  font-weight: 300;
  width: 60%;
}
.vision-box p{
  font-size: 1.2rem;
  width: 60%;


}
.about-section, .vision-box{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;


}

.vision-box h2, .about-section h2{
  font-size: 5rem;
  font-weight: 300;
  width: 50%;
  padding-bottom: 4rem;
}
.vision-box p, .about-section p{
  font-size: 1.2rem;
  line-height: 2rem;
  width: 50%;


}
.about-section .p-wrapper{
  display: flex;
 justify-content: flex-end;
 align-items: center;
 flex-direction: column;
}
.vision-box{
  position: relative;
  display: center;

  justify-content: center;
  align-items: center;
}
.animation{
  animation: beat 1s infinite alternate;
	transform-origin: center;
  animation-delay: 1s;
}

.footer{
  padding: 2rem;
  display: grid;
  grid-template-columns: 40% 60%;
  height: 80vh;
  background: #1b1b1b;
  color: white;
  z-index: 3;
}
.footer-wrapper {
  padding: 2rem;
  
}
.wrapper{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .wrapper h3{
  font-size: 4rem;
  font-weight:500 ;
  width: 110%;
 
}

.footer-wrapper .wrapper p{
  font-size: 1.2rem;
  font-weight:400 ;
 
  color: gray;
}
.footer-wrapper .wrapper h4{
  font-size: 2rem;
  font-weight:400 ;
  
  
}

.address-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  width: 100%;

  justify-items: end;
}
.address-wrapper h6{
  font-weight: 600;
}

.address-wrapper a{
 text-decoration: none;
 color: #FAFAFAFA;

}
.address-wrapper .pagesLink 
{
  
  font-size: 1.2rem;
  
  gap: 1rem;
}
.address-wrapper .pagesLink a
{
  line-height: 2rem;
  font-size: 1.2rem;
  color: #fafafa;
}
.address-wrapper .navigations  a{
  text-decoration: none;
  color: white;
  display: block;
  line-height: 2rem;
  font-size: 1.2rem;
 
}

address{
  color: grey;
}

/* .vision-box .one .fa-circle{
  font-size: 25rem;
  color: #0077b6;
  
  position: absolute;
  left:50%;
  top:5%;
z-index: 1;
opacity: .1;
display: none;
} */
/* .vision-box .two .fa-circle{
  font-size: 10rem;
  color: #0077b6;
  animation: beat 1s infinite alternate;
	transform-origin: center;
  position: absolute;
right:5%;
z-index: 1;
opacity: .1;

} */
@keyframes beat{
	to { transform: scale(1.4); }
}
.vision-box h2{
  font-size: 6rem;
  padding-left: 2rem;
}
.vision-box p{
  font-size: 1.2rem;
  width: 50%;
  position: relative;
  z-index: 2;
}
.text-group{
  display: flex;
 justify-content: flex-end;
 align-items: center;
 flex-direction: column;
}
.partners-box{
  height: 100vh;

  position: relative;
}
#carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  transform: translate3D(-50%, -50%, 0);
}
#carousel .container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
/* #carousel .container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  border-radius: 100%;
} */
.partners-box .center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content:center ;
align-items: center;
flex-direction: column;



}
.partners-box .center h2{
  
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
}
.partners-box .center p{
font-size: 1.2rem;
width: 70%;
text-align: center;
line-height: 2rem;
}
/* .partners-box .circle {
  background: #1F4CC8;
  width: 220px; 
  height: 220px;
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
 
} */
.partners-box .circle:nth-child(1) {
  border:none;
  top:0;
  left:1%;    
}
/* .partners-box .circle:nth-child(2) {
  border:none;
  top:25%;
  right:5%;
}
.partners-box .circle:nth-child(3) {
  border:none;
  bottom:5%;
  left:15%;
}
.partners-box .circle:nth-child(4) {
  border:none;
  bottom:2%;
  right:15%;
}
.partners-box .circle:nth-child(6){
  border:none;
 top:20%;
left:50%;
}
.partners-box .circle:nth-child(7){
  border:none;
 bottom:-15%;
left:50%;
}

.partners-box .circle:nth-child(8){
  border:none;
  top:20%;
  left:20%;
}
.partners-box .circle:nth-child(5){
  border:none;
  top:5%;
  left:15%;
  display: none;
} */
.card-img img{


  filter: invert(97%) sepia(0%) saturate(61%) hue-rotate(158deg) brightness(93%) contrast(95%);



}
.team-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotate {
  from {
     transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrap {
   font-size: 10px;
   display: flex;
   justify-content: center;
   z-index: 9;
}

/* .inner {
   position: relative;
   width: 500px;
   height: 500px;
} */

.video {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
   overflow: hidden;
   border-radius: 50%;
   width: 600px;
   height: 600px;
   object-fit: cover;
   transition: 2s ease-in-out;
}

.video img {
width:100%;
height: 100%;
object-fit: cover;
object-position: top;

}

.team-wrapper h1 {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: center;
  margin: 0;
  word-break: keep-all;
  font-size: 1.8rem;
  letter-spacing: 0.35em;
  color: #333;
  font-family: 'Noto Sans', sans-serif;
}

.team-wrapper h1 span:first-child {
   visibility: hidden;
}

.team-wrapper h1 > div {
    animation: rotate 15s infinite linear;
}


.wrap img{
  z-index: 9;
}



.revealUp {
  opacity: 0;
  visibility: hidden;
}




/*
* mobile views
*/
/* @media only screen and (max-width: 950px) and (min-width: 400px){
  .about-section p{
    font-size: 1.3rem;
    width: 100%;
    margin: 0 auto;
  }
  .about-section h2{
    font-size: 1rem;
    display: none;
    padding-right: -1442px;
    margin-bottom: 59px;
    
  } */


/* @media (max-width:900px){
  .about-section p{
    font-size: 1.3rem;
    width: 100%;
    margin: 0 auto;
  }

  .about-section .p-wrapper{
    width: 100%;
    margin-bottom: 40%;
  }

  .about-section h2{
    font-size: 32rem;
    font-weight:400;
    padding-right: -12px;
    margin-bottom: 59px;
    
  }
  .about-section{
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
    section .marquee{
      margin-top: 120px;
      font-size: 40px;
    }

    section .project .project-title h1{
      font-size: 23px;
    }

    .vision-box{
      position: relative;
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      align-items: center;
    }
    .vision-box p{
      font-size: 1.2rem;
      width: 100%;
      padding-left: 59px;
      z-index: 2;
    }

    .vision-box h2{
      font-size: 34px;
      padding-left: 59px;
      margin-top: 100%;
    }

    .center h2{
      font-size: 23px;
      
    }
    .project-list{
      position: absolute;
    }
    
    .small{
      font-size: 13px;
      text-transform: uppercase;
      margin-left: -19px;
    }

    .project-title{
      font-size: 1px;
       margin-right:89px;
    }
  
    .partners-box{
      height: 80vh;
      width: 100%;
      position: relative;
    }
    .partners-box .center h2{
      font-size: 34px;
      width: 100%;
    }

    .team-wrapper h1 {
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(100%, -50%); 
      display: flex;
      justify-content: center;
      margin: 0;
      word-break: keep-all;
      font-size: 1.8rem;
      letter-spacing: 0.35em;
      color: #fff;
      font-family: 'Noto Sans', sans-serif;
    }

    .connected button{
      color:#333;
      border-radius: 20px;
      padding: 2%;
      border:1px solid #e0e1df;
      width: 250px;
      height:30px;
    
      line-height: 5px;
      padding: 1.5rem 3rem;
      background-color: transparent;
    
      justify-content: center;
      margin-right: 4rem;
      color:#e0e1df;
    }
    #BTN{
      padding-right: -20%;
     

    }
} */
@media only screen and (max-width: 600px) {

  /* .partners-box .circle {
    background: #1F4CC8;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 2.5rem;
   
  } */

  .partners-box img{
    width: 56px;
    
  }
  .partners-box .must{
    margin-top: -69px;
    
  }

  .partners-box .sonar{
    margin-bottom: -20px;
    left: 320px;
  }

  .partners-box .redgate{
    margin-bottom: 91px;
    
  }

  .invicti{
    margin-bottom: -39px;
    right: 150px;
  }
  .Unity_Technologies_logo{
    margin-top: -69px;   
  }

  .microsoft{
    margin-top: -100px;
    left: 300px;
  }
  #button{
    margin-left: 8px;
  }


  #button{
    font-size: 3rem;
  }
  .about-section p{
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
  }

  .about-section .p-wrapper{
    width: 100%;
    margin-bottom: 40%;
  }

  .about-section h2{
    font-size:  1rem;
    font-weight:100;
    padding-right: -12px;
    margin-bottom: 59px;
    
  }
  .about-section{
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
    section .marquee{
      margin-top: 120px;
      font-size: 40px;
    }

    section .project .project-title h1{
      font-size: 23px;
    }
    section .project{
      margin-left: -39px;
    }

    .vision-box{
      position: relative;
      margin-top: 112px;
      grid-template-columns: 100%;
      justify-content: center;
      align-items: center;
    }
    .vision-box p{
      font-size: 1.2rem;
      width: 100%;
      padding-left: 59px;
      z-index: 2;
    }

    .vision-box h2{
      font-size: 34px;
      padding-left: 59px;
      margin-top: 100%;
    }

    .center h2{
      font-size: 23px;
      
    }
    .project-list{
      position: absolute;
    }
    
    .small{
      font-size: 13px;
      text-transform: uppercase;
      margin-left: -19px;
    }

    .project-title{
      font-size: 1px;
       margin-right:89px;
    }
  
    .partners-box{
      height: 80vh;
      width: 100%;
      position: relative;
    }
    .partners-box .center h2{
      font-size: 34px;
      width: 100%;
    }

    .team-wrapper h1 {
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(100%, -50%); 
      display: flex;
      justify-content: center;
      margin: 0;
      word-break: keep-all;
      font-size: 1.8rem;
      letter-spacing: 0.35em;
      color: #fff;
      font-family: 'Noto Sans', sans-serif;
    }

    .connected button{
      color:#333;
      border-radius: 20px;
      padding: 2%;
      border:1px solid #e0e1df;
      width: 250px;
      height:30px;
    
      line-height: 5px;
      padding: 1.5rem 3rem;
      background-color: transparent;
    
      justify-content: center;
      margin-right: 4rem;
      color:#e0e1df;
    }
    #BTN{
      padding-right: -20%;
     

    }

    .team-wrapper .video img {
      width:100%;
      }

      .footer .links ul li a{
        font-size:12px;
        display: inline-block;
      }

      .connected p{
        font-size: 1em;
      }

      .office p, .office-box span{
        font-size: 1.2rem;
        padding-left: 12px;
        font-weight: 600;
      }

      .connected h2{
        font-size: 4em;
      }
    .team-wrapper  .imgSlide{
        width: 1023pxpx;
      }

  
}
